extends ../layouts/default

block content
	.banner
		//img(src="/images/bg2.jpg")
		#banner
		.talk
			h2 SCI ABBAS Immobilier
			div.typed
	.products
		.container
			.row
				.col-md-4.text-xs-center
					.banner
						a(href="#venteLocation"): img.img-rounded(src="/images/cards/bg2.jpg")
						.talk
							p ABBAS-IMMOBILIER
							span VENTE
				.col-md-4
					.banner
						a(href='#achat'): img.img-rounded(src="/images/cards/bg4.jpg")
						.talk
							p ABBAS-IMMOBILIER
							span LOCATION
				.col-md-4
					.banner
						a(href='#conseil'): img.img-rounded(src="/images/cards/bg6.jpg")
						.talk
							p ABBAS-IMMOBILIER
							span CONSEIL ET SUIVI TECHNIQUE
	#carousel-example-generic.carousel.slide(data-ride='carousel')
		ol.carousel-indicators
			li.active(data-target='#carousel-example-generic', data-slide-to='0')
			li(data-target='#carousel-example-generic', data-slide-to='1')
			li(data-target='#carousel-example-generic', data-slide-to='2')
		.carousel-inner(role='listbox')
			.carousel-item.active
				.carousel-caption
					p.title ACTUALITES
					p.sub-title Contenu en cours de construction.
					
			.carousel-item
				.carousel-caption
					p.title ACTUALITES
					p.sub-title Contenu en cours de construction.
			.carousel-item
				.carousel-caption
					p.title ACTUALITES
					p.sub-title Contenu en cours de construction.
	div.seperator
	.container
		.row.featurette#venteLocation
			.col-lg-7
				h2.featurette-heading Vente de biens immobiliers
				span.text-muted Une expérience extraordinaire!
				p.lead A ABBAS-IMMO, nous vendons les biens immobiliers tels que 
					| terrains, maisons, immeubles ... Nous avons des locations immobilières à
					| habitation ou de bureau (plein pied, duplex, espace magasin...). Il vous suffit de demander,
					| et notre équipe se chargera du reste.
			.col-lg-5
				img(src="/images/bg4.jpg")
		hr.featurette-divider
		.row.featurette#achat
			.col-lg-5
				img(src="/images/bg5.jpg")
			.col-lg-7
				h2.featurette-heading Location des biens immobiliers
				span.text-muted Immeubles à tous les gouts!
				p.lead A ABBAS-IMMO, nous mettons en location divers biens immobiliers tels que 
					| terrains, maisons, immeubles pour habitation ou des bureaux.
		hr.featurette-divider
		.row.featurette#conseil
			.col-lg-7
				h2.featurette-heading Conseil et suivi technique
				span.text-muted Des services de qualité comme nulle part ailleurs!
				p.lead A ABBAS-IMMO, nous vous offrons le meilleur choix possible au client, 
					| et nous vous apportons un suivi technique dans vos projets: architecturaux,
					| grace à nos géomètres, géotechniciens, ingénieurs... pour vous aider au moindre
					| cout dans vos réalisations.
			.col-lg-5
				img(src="/images/bg7.jpg")

